* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: whitesmoke;
    font-family: 'Helvetica';
}

.container {
    
}

.image {
    height: calc(100% - 4rem);
    min-height: 700px;
    display: block;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .image {
        height: calc(100% - 3rem);
        top: 3rem;
    }
}
